<h1>All the Closets</h1>

<% if @closets.any? %>
  <% @closets.each do |closet| %>
    <h3><%= link_to closet.name, closet_path(closet) %></h3>
  <% end %>
<% else %>
  <p>This house is closetless.</p>
<% end %>
