<%= link_to 'New Skeleton', new_closet_skeleton_path(@closet), id: 'new_skeleton', remote: true %>

<div class="row">
  <div class="col-md-6">
    <div id="visible_skeletons">
      <h3>Skeletons of <em><%= @closet.name %></em></h3>
      <%= render @visible_skeletons %>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="closet">
      <h3>Hidden in Closet</h3>
        <%= render @hidden_skeletons %>
    </div>
  </div>
</div>
