@import 'bootstrap-sprockets';
@import 'bootstrap';

.jumbotron {
  background-color: lighten(black, 45%);
  text-align: center;
}

.jumbotron a {
  text-decoration: none;
  text-align: center;
}

.jumbotron #skull:hover {
  height: 100px;
  background-image: url('/assets/pink-heart.png');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.jumbotron a:hover {
  font-size: 38px;
}

body {
  background-color: black;
  color: gray;
  font-family: 'Arvo', serif;
}

a {
  color: lighten(red, 30%);
}

a:hover {
  color: red;
}
